/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
html {
  font-size: 18px;
  --primary-color: #532f63;
}
body {
  color:  #532f63;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 21px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}
a:hover {
  color: inherit;
}
img {
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}

/* For Bootstrap */
p {
  margin-bottom: 0;
}

/* Common Styles */
.common-bg {
  background-image: url(../images/skew-bars-alt.png),
    linear-gradient(to right, #e01058, #492958);
  background-repeat: no-repeat;
  background-position: right top;
}
.content-bg {
  padding-bottom: 150px;
  background: url(../images/skew-bars.png) no-repeat scroll calc(100% - 100px)
    bottom;
}
.content-bg .container {
  max-width: 1200px;
}

/* Header */
header {
  height: 150px;
  background-image: linear-gradient(to right, #e01058, #492958);
  position: relative;
  z-index: 555;
}
header::after {
  position: absolute;
  width: 100%;
  height: calc(100% - 15px);
  background-color: white;
  content: " ";
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 86% 0, 80% 100%, 0% 100%);
  z-index: -1;
}

header .container {
  display: flex;
  max-width: 100%;
  height: calc(100% - 15px);
  align-items: flex-start;
}

header a.logo {
  max-width: 250px;
  align-self: center;
}
header a.logo + img {
  max-width: 280px;
  margin-left: 35px;
}
header nav {
  margin-left: auto;
  margin-right: 200px;
  margin-top: 10px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  line-height: 16px;
}
header nav ul li:not(:last-child) {
  border-right: 1px solid  #532f63;
  margin-right: 10px;
  padding-right: 10px;
}

header nav ul li a {
  font-size: 14px;
  line-height: 16px;
  color:  #532f63;
  font-weight: 700;
}
header nav ul li:hover a {
  color: #e40e63;
  text-decoration: underline;
}

/* Header 2*/
header.header-diff {
  min-height: 335px;
}
header.header-diff .container,
header.header-diff::after {
  height: 135px;
}
header.header-diff .header-bottom {
  display: flex;
  align-items: flex-end;
  height: 200px;
  padding-left: 40px;
  padding-right: 40px;
}
header.header-diff .header-bottom img {
  max-width: 175px;
  transform: translateY(20px);
}
header.header-diff .header-bottom.po-header img {
  transform: translateY(40px);
}
header.header-diff .header-bottom h3 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-left: 30px;
}
header.header-diff .header-bottom a {
  font-size: 20px;
  color: #fff;
  margin-left: auto;
  margin-bottom: 15px;
}

.welcome-header {
  background: none;
}
.welcome-header .container {
  height: 100%;
}
.welcome-header nav ul li {
  border: none !important;
}
header.welcome-header a.logo + img {
  display: block !important;
}
.mobile-menu {
  display: none;
}
/* Welcome Banner */

#welcome-banner {
  background-color: #f4f2f2;
  background-image: url(../images/welcome-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  padding-bottom: 80px;
}
#welcome-banner.home-2 {
  background-image: url(../images/welcome-bg2.jpg);
  background-size: cover;
}
#welcome-banner.home-2 .welcome-box {
  padding-left: 45px;
}
#welcome-banner.home-3 {
  background-image: url(../images/welcome-bg3.jpg);
}
#welcome-banner.home-3 .welcome-box .wb-content h2 {
  font-size: 125px;
  transform: rotate(-6deg) translateX(0px);
}
#welcome-banner > img {
  display: none;
}
.welcome-box {
  width: 585px;
  height: 480px;
  margin-left: 70px;
  position: relative;
  background-image: url(../images/skew-bg.png);
  background-size: 100% 100%;
  background-position: center center;
  padding-left: 35px;
  padding-top: 50px;
  z-index: 1;
}

.welcome-box .wb-content .wbc-inner {
  display: flex;
  flex-wrap: wrap;
}
.welcome-box .wb-content h3 {
  color: #b20a4d;
  font-size: 40px;
  font-weight: 400;
}
.welcome-box .wb-content h2 {
  font-size: 150px;
  color:  #532f63;
  font-weight: 700;
  line-height: 1.05;
  transform: rotate(-6deg) translateX(-11px);
  font-family: "Caveat", cursive;
}
.welcome-box .wb-content p {
  font-size: 24px;
  color: #b20a4d;
  align-self: flex-end;
  margin-bottom: 25px;
}
.home-3 .welcome-box .wb-content p {
  margin-left: 20px;
}
.welcome-box .wb-content > div > div {
  width: 100%;
}
.welcome-box a.welcome-btn {
  color: #fff;
  background-color:  #532f63;
  padding: 18px 50px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 30px;
  margin-left: -60px;
  margin-top: 20px;
}
.welcome-box a.welcome-btn i {
  margin-right: 8px;
}
/* Middle Tab Content */
#mt-content {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}
#mt-content .container {
  max-width: calc(100% - 30px);
}
.mt-content {
  transform: rotate(-4deg);
}

.mtc-title {
  border: 3px solid #492958;
  background-color: #fff;
  display: inline-block;
  transform: translateY(3px);
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: -3px;
  position: relative;
}
.mtc-title:before {
  content: " ";
  width: 100%;
  height: 16px;
  background: #fff;
  bottom: -7px;
  position: absolute;
  left: 0;
}
.mtc-title h2 {
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 0;
  transform: translateY(6px) rotate(-4deg);
  font-family: "Caveat", cursive;
}
.mtc-content {
  background-color: #fff;
  border: 3px solid #492958;
  padding: 50px;
  border-top-right-radius: 15px;
  box-shadow: -2px 2px 1px 2px rgb(0 0 0 / 15%);
}
.mtc-content h3 {
  font-size: 26px;
  font-weight: 700;
  color: #b20a4d;
}
.mtc-content ul li {
  position: relative;
  padding-left: 10px;
}
.mtc-content ul li span {
  font-weight: 700;
}
.mtc-content ul li:before {
  position: absolute;
  width: 5px;
  height: 5px;
  content: " ";
  left: 0;
  top: 7px;
  background-color: #e40e63;
  border-radius: 50%;
}
#mt-content {
  margin-bottom: 110px;
}
#mt-content .container {
  position: relative;
}
p.mtcb-para {
  padding-right: 70px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: -28px;
}
#mt-content .container > p.mtcb-para {
  position: absolute;
  top: calc(100% + 30px);
  width: 100%;
  text-align: right;
  padding-right: 50px;
}

#mt-content .mt-para {
  padding-left: 50px;
}
#mt-content .mt-para p {
  color: #fff;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
}
.home-3-middle {
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: -15px;
  margin-top: 35px;
}
.home-3-middle > .container > p {
  font-weight: 700;
}
.home-3-middle + p {
  display: none;
}
/* Resources Story */
#resource-story {
  margin-top: 50px;
  margin-right: 26.5px;
  margin-left: 26.5px;
}
#resource-story .container {
  max-width: 100%;
}
#resource-story img {
  width: auto;
  height: 125px;
}
#resource-story .common-bg {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 50px;
  height: 100%;
}
#resource-story .rs-content p {
  color: white;
  max-width: 290px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 25px;
}
#resource-story .rs-content a.rs-btn {
  background-color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  color:  #532f63;
  width: 100%;
  max-width: 255px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  border-radius: 30px;
  transform: translateY(10px);
  font-size: 14px;
}
/* Footer */
footer .footer-top {
  padding-top: 30px;
  margin-right: 26.5px;
  margin-left: 26.5px;
}
footer .footer-top.home-footer-top {
  padding-top: 10px;
}
footer .footer-top.home-footer-top p {
  transform: none!important;
}
footer .footer-top .container {
  max-width: 100%;
}
footer .footer-top.home-footer-top .row > div:last-child {
  margin-left: auto;
  margin-top: 45px;
}
footer .footer-top p {
  font-size: 14px;
}
footer .footer-top img {
  max-width: 300px;
  margin-right: 35px;
  height: 55px;
}

footer .footer-main {
  padding-right: 26.5px;
  padding-left: 26.5px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f2f2;
}
ul.privacy-terms {
  font-size: 12px;
}
ul.privacy-terms li a {
  color:  #532f63;
}
ul.privacy-terms li a:hover {
  text-decoration: underline;
}
footer .footer-main .container {
  max-width: 100%;
}
footer .footer-main img {
  width: auto;
}
.footer-content {
  display: inline-block;
  margin-left: 50px;
}
.footer-content p {
  font-size: 12px;
  line-height: 16px;
}
.fm-right {
  text-align: right;
}
.fm-right img:last-child {
  margin-left: 30px;
}

/* Libray Content */
#library-content {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url(../images/library-content-bg.jpg) no-repeat scroll center
    center / cover;
}
#library-content .row > div {
  margin-top: 30px;
  margin-bottom: 30px;
}
#library-content .library-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#library-content .library-item img {
  width: auto;
}
#library-content .library-item h3 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 15px;
}
#library-content .library-item a {
  background-color:  #532f63;
  color: #fff;
  padding: 9px 29px;
  border-radius: 30px;
  margin-top: auto;
}

/* Program Overview */
#program-overview {
  background: url(../images/library-content-bg.jpg) no-repeat scroll center center / cover;
  padding-bottom: 100px;
}

#program-overview h1 {
  margin-top: 15px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
  display: inline-block;
}
#program-overview h2 {
  font-size: 18px;
  font-weight: 700;
}
#program-overview h3 {
  color: #b20a4d;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
#program-overview .row:not(:last-child) {
  border-bottom: 1px solid #492958;
  padding-bottom: 35px;
  margin-bottom: 20px;
}
#program-overview .row > div:not(:first-child) {
  display: flex;
  /* justify-content: center; */

  /* align-items: center; */
  flex-direction: column;
}
#program-overview .po-item {
  display: flex;
  align-items: flex-start;
}
#program-overview .po-item img {
  margin-right: 15px;
  width: auto;
}
#program-overview h4 {
  font-size: 18px;
  font-weight: 700;
}
#program-overview ul li {
  position: relative;
  padding-left: 10px;
}
#program-overview ul li::before {
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #b20a4d;
  border-radius: 50%;
  position: absolute;
  top: 6.5px;
  left: 0;
}

/* Safty Information */

#safty-information h2 {
  margin-top: 30px;
  margin-bottom: 13px;
  font-size: 36px;
  font-weight: 700;
}
#safty-information .si-item {
  margin-bottom: 20px;
}
#safty-information .si-item h3 {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 2px;
}
#safty-information .si-item ul li {
  position: relative;
  margin-left: 3px;
  padding-left: 10px;
}
#safty-information .si-item ul li:before {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: " ";
  left: 0;
  top: 8px;
  background-color: #b20a4d;
}
#safty-information .si-item a {
  color: #b20a4d;
  text-decoration: underline;
}
#safty-information .si-item:first-of-type p:not(:first-of-type) {
  margin-top: 15px;
}

/* Privacy Policy */
#privacy-policy {
}
#privacy-policy h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
}
#privacy-policy h3 {
  font-size: 16px;
  margin-bottom: 19px;
}
#privacy-policy .pp-item > * {
  font-size: 16px;
  font-weight: 400;
}
#privacy-policy .pp-item {
  margin-bottom: 19px;
}
#privacy-policy .pp-item:last-child {
  margin-bottom: 0;
}
#privacy-policy .pp-item h4 {
  margin-bottom: 15px;
}
#privacy-policy .pp-item:last-child p:nth-of-type(2) {
  margin: 15px 0;
}
#privacy-policy .pp-item p a {
  color:  #532f63;
}
/* Video */
header.video-header .header-bottom {
  flex-direction: column;
}
header.video-header .header-bottom > div {
  width: 100%;
}
header.video-header .hb-content > * {
  color: #fff;
}
header.video-header .hb-content h2 {
  font-size: 90px;
  font-weight: 700;
  transform: rotate(-3deg) translateY(15px);
  transition-duration: .5s;
  align-self: center;
  font-family: "Caveat", cursive;
  line-height: 65px;
  opacity: 0;
}
header.video-header .hb-content h2.animate {
  opacity: 1;
  transform: rotate(-3deg) translateY(0px);
}
header.video-header .hb-content h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: -10px;
}
header.video-header .hb-content p {
  align-self: flex-end;
  text-align: right;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 45px;
  margin-top: 10px;
}
header.video-header {
  height: auto;
}

header.video-header .header-bottom {
  padding-top: 30px;
  min-height: auto !important;
  height: auto !important;
}

#video {
  margin-bottom: -25px;
}
#video .container {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}
#video .video {
  position: relative;
}
#video .video > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 60px;
  transition-duration: 0.5s;
}
#video .video > a:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

/* Our Team */
#our-team .row > div a {
  height: 100%;
  color:  #532f63;
  width: 100%;
}
#our-team h3 {
  font-size: 36px;
  margin-bottom: -5px;
  font-weight: 700;
  margin-top: 35px;
}
#our-team .container {
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
#our-team h4 {
  font-size: 24px;
  color: #b20a4d;
  margin-bottom: -10px;
}
#our-team h2 {
  font-size: 80px;
  font-weight: 700;
  transform: rotate(-5deg) translateX(-10px);
  font-family: "Caveat", cursive;
}
#our-team .row > div {
  margin: 20px 0;
}
#our-team .team-member {
  display: flex;
  height: 100%;
  background-image: linear-gradient(to right, #f4f2f2, #fff);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 12%);
  justify-content: space-between;
  align-items: center;
}
#our-team .team-member > div {
  padding: 10px 20px;
}
#our-team .team-member h4 {
}
#our-team .team-member h2 {
}
#our-team .team-member p {
}
#our-team .team-member img {
  width: auto;
  height: 100%;
}

/* Welcome Page */
#welcome-content .container {
  max-width: 950px;
}
#welcome-content h2 {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
}
#welcome-content h2 span {
  color: #b20a4d;
}
#welcome-content h2 span sup {
  top: -11px;
  font-size: 22px;
}
#welcome-content p {
  margin-bottom: 20px;
}
#welcome-content select {
  background-color: #e6e6e6;
  color: #532f63;
  border: 1px solid #e6e6e6;
  outline: none;
  width: 100%;
  padding: 6px 15px;
  box-shadow: 0px 2px 4px 1px rgb(0 0 0 / 15%);
  background: url(../images/select-arrow.png) no-repeat calc(100% - 15px) center /
    20px auto;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color:  #532f63;
}
#welcome-content input[type="text"] {
  width: 100%;
  border: 1px solid #492958;
  outline: none;
  padding: 6px 15px;
}
#welcome-content input[type="submit"] {
  border: none;
  background:  #532f63;
  color: #fff;
  font-weight: 700;
  padding: 8px 50px;
  border-radius: 25px;
  margin-top: 20px;
}
#popup-box {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#popup-box .popup-box-inner {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #e01058;
  max-height: 90vh;
  overflow-y: scroll;
}
#popup-box .popup-para {
  margin-bottom: 15px;
}
#popup-box .popup-para a {
  text-decoration: underline;
  color: #b20a4d;
}
#popup-box .popup-box-inner ul li {
  position: relative;
  padding-left: 10px;
  margin-left: 3px;
}
#popup-box .popup-box-inner ul li:before {
  position: absolute;
  width: 5px;
  height: 5px;
  content: " ";
  left: 0;
  top: 7px;
  background-color: #532F63;
  border-radius: 50%;
}
.popup-box-inner a.popup-continue {
  background-color:  #532f63;
  color: #fff;
  padding: 9px 35px;
  border-radius: 30px;
  margin-top: 10px;
}
.error-text{
    display: none;
}

/* Home Video Popup */
.hvp-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hvp-video video {
  max-width: 80%;
  max-height: 80vh;
  outline: none;
}
.hvp-video > span {
  align-self: flex-end;
  /* margin-right: 10%; */
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  transform: translateY(-10px);
}
@media(max-width: 479px) {
  .hvp-video video {
    max-width: 90%;
  }
  .hvp-video > span {
    /* margin-right: 5%; */
  }
}
#mt-content .mt-para a.rs-btn, .home-3-middle a.rs-btn {
    background-color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    color:  #532f63;
    width: 100%;
    max-width: 255px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 30px;
    transform: translateY(10px);
    font-size: 14px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #library-content .library-item img{
        max-height: 247px;
    }
    #library-content .library-item h3{
        display: table-cell;
    }
}

#program-overview .po-item a {
    background-color: #532f63;
    color: #fff;
    padding: 9px 29px;
    border-radius: 30px;
    margin-top: auto;
}
#program-overview .po-item img.po{
    margin-right: 25px;
    width: auto;
}
.welcome-box .wb-content .subtitle {
    font-size: 38px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #532f63;
    /*font-weight: 700;*/
    line-height: 1.05;
    -webkit-transform: rotate(
-6deg
) translateX(-11px);
    -ms-transform: rotate(-6deg) translateX(-11px);
    transform: rotate(
-6deg
) translateX(-11px);
    font-family: "Caveat", cursive;
}
.welcome-box {
  padding-top: 10px;
}
#staticBackdrop .modal-content{
    background-color: transparent;
    border: 0;
}
#staticBackdrop .modal-header{
    border-bottom: 0;
    padding: 0;
}